@using Microsoft.IdentityModel.Tokens
@model IEnumerable<Message>
@{
    string friendId = ViewBag.FriendId;
}
<link rel="stylesheet" href="css/messages.css">
<div class="chat-window" data-friend-id="@friendId">
    <div class="chat-messages" style="max-height: 400px; overflow-y: auto;">
        @foreach (var message in Model)
        {
            <div class="message @(message.SenderId == friendId ? "left" : "right")" data-timestamp="@message.Timestamp.ToString("g")">
                <p>
                    @if (message.SenderId == friendId)
                    {
                        <strong> @message.Sender.FirstName : </strong>
                    } else {
                        <strong> Me: </strong>
                    }
                    @message.Content
                </p>
                @if (!message.AttachmentUrl.IsNullOrEmpty())
                {
                    <img src="@message.AttachmentUrl" alt="Attachment Photo"
                         style="max-width: 200px; max-height: 200px; display: block; margin-top: 5px" />
                }
            </div>
        }
    </div>
    <div class="chat-input mt-2">
        <input id="message" type="text" maxlength="200" class="form-control" placeholder="Enter your message..." />
        <input type="file" id="attachment" name="attachment" accept="image/jpeg"/>
        <div><span id="charCount">200 characters left</span></div>
        <button id="sendMessageButton" type="button" class="btn btn-success mt-2">Send</button>
    </div>
</div>

<style>
    
</style>